PORT=5000

# Get from: https://huggingface.co/settings/tokens
HUGGINGFACE_API_KEY=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

# Get from: https://elevenlabs.io/app/settings/api-keys
ELEVENLABS_API_KEY=d431b537083235f764edf24be8654e1de723be38387378b31a06e6526ed31b18
